* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border: none;
  background: transparent;
  color: black;
  transition: all 0.3s;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 8px;
}

button:hover {
  border-radius: 1px solid #ddd;
}

.app > button,
.add-comment button {
  background: rebeccapurple;
  color: white;
  font-size: 18px;
}
.app > button > * {
  color: white;
}
