.label {
  font-size: 12px;
  border-radius: 16px;
  padding: 4px 8px;
  text-align: center;
  color: #222;
}

.modal .body {
  max-width: 80%;
  max-height: 75%;
  min-width: 70%;
  min-height: 50%;
  background: #fff;
  border-radius: 4px;
  position: relative;
  padding: 16px;
  overflow-y: scroll;
}

.issue-header {
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.issue-header > span > i {
  padding: 0 8px;
}

.comments {
  margin-top: 16px;
  position: relative;
  padding: 4px;
}

.comments .list {
  margin: 4px 0 32px;
}

.comment {
  width: 70%;
  padding: 8px 0 16px;
  line-height: 1.5;
}

.add-comment {
  padding: 16px 0;
  /* border-top: 1px solid #ddd; */
}

.add-comment textarea,
select,
input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 99%;
}

select:focus,
input:focus,
textarea:focus {
  border: 1px solid var(--blue) !important;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.stack {
  display: flex;
  position: relative;
}

.tb-item img {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  position: absolute;
}

.stack:hover img {
  position: initial;
}

.repo {
  padding: 4px 0;
  cursor: pointer;
}

.repo:hover {
  text-decoration: underline;
}

.repo.selected {
  color: var(--blue);
}

/*  */
.ac-cont {
  position: relative;
}

.users {
  position: absolute;
  padding: 4px;
  top: 16px;
}
